#our-projects {
    .all-projetcs {
        .project-item {
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            min-height: 365px;
            .thumbnil {
                width: 100%;
                display: block;
            }
            .logo {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 3px solid #fff;
                position: relative;
                z-index: 1;
                margin-top: -40px;
                margin-left: 40px;
            }
            .title {
                font-weight: 600;
                font-size: 17px;
                line-height: 30px;
                letter-spacing: -0.02em;
                color: #292929;
                padding: 0 25px;
                padding-top: 12px;
                padding-bottom: 23px;
            }
        }
    }
}
