@mixin headerText {
    font-weight: 900;
    font-size: 40px;
    text-transform: capitalize;
    color: $gray;
    font-family: secondaryFont();
}
@mixin flexCenter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
