label {
    font-weight: 500;
    margin-bottom: 4px;
}
.form-control,
.form-select {
    background-color: rgba($white, 0.6);
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid $gray300;
    padding: 8px 15px;
    border-radius: 10px;
    &:focus {
        box-shadow: none;
    }
}
